Repository anilsb06/data-infrastructre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr_data_build, mr_airflow_build, mr_dbt_build, mr_analyst_build, mr_ci_python_build, mr_image_delete

mr_data_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_airflow_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_dbt_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_analyst_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_ci_python_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_image_delete:
  stage: delete
  image: docker:latest
  services:
  - docker:dind
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  variables:
    GIT_STRATEGY: none
  before_script:
  - wget -O /usr/bin/reg https://github.com/genuinetools/reg/releases/download/v0.13.0/reg-linux-amd64
  - chmod +x /usr/bin/reg
  ...

Apply review suggestions, bump gitlabdata version and remove pygsheets from this MR.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Update gitlabdata version to 0.3.20, which includes pygsheets and capability to write to gsheets
  analyst_image/requirements.txt
Due: mr_analyst_build, mr_image_delete

Update file requirements.txt
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

updated google auth
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

updated list
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

added grpcio
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Update requirements.txt
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

updated gitlabdata to 0.3.21
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

rollback to remove version conflict
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

modified the data image
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Due to an issue with 0.20, upgrading to 0.21.
  analyst_image/requirements.txt
Due: mr_analyst_build, mr_image_delete

Remove pygsheets
  analyst_image/requirements.txt
Due: mr_analyst_build, mr_image_delete

Update mypy version
  ci_python_image/requirements.txt
Due: mr_ci_python_build, mr_image_delete

Remove all ci jobs
  .gitlab-ci.yml
Due: mr_image_delete

Switch to working delete.
  .gitlab-ci.yml
Due: mr_image_delete

Debug change.
  data_image/Dockerfile
Due: mr_data_build, mr_image_delete

add fastparquet lib (and dependencies)
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

fix fastparquet dependencies
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

use pyarrow in place of fastparquet
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Add moved note.
  README.md
Due: none

modified cloud sql proxy
  data_image/Dockerfile
Due: mr_data_build, mr_image_delete

updated gitlabdata to 0.3.23
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

add gcsfs-2023.1.0
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

add polars
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Path conditions:
  mr_data_build: (any of: data_image/*) and (not (any of: *.md))
  mr_airflow_build: (any of: airflow_image/*) and (not (any of: *.md))
  mr_dbt_build: (any of: dbt_image/*) and (not (any of: *.md))
  mr_analyst_build: (any of: analyst_image/*) and (not (any of: *.md))
  mr_ci_python_build: (any of: ci_python_image/*) and (not (any of: *.md))
  mr_image_delete: not (any of: *.md)
