Repository anilsb06/data-infrastructre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr_data_build, mr_airflow_build, mr_dbt_build, mr_image_delete

.gitlab-ci.yml:

stages:
  - build
  - test
  - delete

### Global Vars
variables:
  DOCKER_DRIVE: overlay2


# ======
# Templates
# ======

.docker_base: &docker_base
  stage: build
  image: docker:latest
  services:
    - docker:dind

.prod_docker_publish: &prod_docker_publish
  <<: *docker_base
  only:
    refs:
      - tags@gitlab-data/data-image
    variables:
      - $CI_COMMIT_TAG =~ /^v*/
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
    - docker tag $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
    - docker tag $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_TAG

.mr_docker_publish: &mr_docker_publish
  <<: *docker_base
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME


# ======
# Data Image
# ======

mr_data_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image
  only:
    refs:
      - merge_requests
    changes:
      - data_image/*
  except:
    changes:
      - "*.md"

prod_data_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image


# ======
# Airflow Image
# ======

mr_airflow_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image
  only:
    refs:
      - merge_requests
    changes:
      - airflow_image/*
  except:
    changes:
      - "*.md"

prod_airflow_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image


# ======
# dbt Image
# ======

mr_dbt_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image
  only:
    refs:
      - merge_requests
    changes:
      - dbt_image/*
  except:
    changes:
      - "*.md"

prod_dbt_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image


# ======
# Delete Images
# ======

mr_image_delete:
  stage: delete
  image: docker:latest
  services:
    - docker:dind
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  variables:
    GIT_STRATEGY: none
  before_script:
    - wget -O /usr/bin/reg https://github.com/genuinetools/reg/releases/download/v0.13.0/reg-linux-amd64
    - chmod +x /usr/bin/reg
  script:
    - reg -r $CI_REGISTRY -u gitlab-ci-token -p $CI_BUILD_TOKEN rm $CI_REGISTRY_IMAGE/airflow_image:$CI_COMMIT_REF_NAME || true
    - reg -r $CI_REGISTRY -u gitlab-ci-token -p $CI_BUILD_TOKEN rm $CI_REGISTRY_IMAGE/data_image:$CI_COMMIT_REF_NAME || true
    - reg -r $CI_REGISTRY -u gitlab-ci-token -p $CI_BUILD_TOKEN rm $CI_REGISTRY_IMAGE/dbt_image:$CI_COMMIT_REF_NAME || true
  except:
    changes:
      - "*.md"
  only:
    refs:
      - merge_requests
  when: manual

Point to branch.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Rollback version.
  airflow_image/Dockerfile
  airflow_image/staging_manifests/deployment.yaml
Due: mr_airflow_build, mr_image_delete

Rollback version.
  airflow_image/airflow.cfg
Due: mr_airflow_build, mr_image_delete

Remove constraints
  airflow_image/Dockerfile
Due: mr_airflow_build, mr_image_delete

Point to clone.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Remove rbac
  airflow_image/airflow.cfg
Due: mr_airflow_build, mr_image_delete

Switch to new db
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

restored old requirment.txt
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

restored back requirment.txt
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

Change port to correct weird error.
  airflow_image/airflow.cfg
  airflow_image/staging_manifests/deployment.yaml
Due: mr_airflow_build, mr_image_delete

Change port to correct weird error.
  airflow_image/staging_manifests/services.yml
Due: mr_image_delete

Correct command error.
  airflow_image/airflow.cfg
  airflow_image/staging_manifests/deployment.yaml
  airflow_image/staging_manifests/services.yml
Due: mr_airflow_build, mr_image_delete

Add second config, add final deployments.yaml
  airflow_image/airflow_2_22.cfg
  airflow_image/staging_manifests/deployment_1_15.yaml
  airflow_image/staging_manifests/deployment_2_22.yaml
Due: mr_airflow_build, mr_image_delete

Renamed, added a second deployment.
  airflow_image/manifests/deployment_1_15.yaml
  airflow_image/manifests/deployment_2_22.yaml
Due: mr_image_delete

Remove old deployment.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Correct protocol due to github changes; see https://github.blog/2021-09-01-improving-git-protocol-security-github/#no-more-unauthenticated-git
  analyst_image/Dockerfile
Due: mr_image_delete

Update pylint to 2.13.4
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Add missing image.
  .gitlab-ci.yml
Due: mr_image_delete

Create new pre-built ci image.
  ci_python_image/Dockerfile
  ci_python_image/Makefile
  ci_python_image/requirements.txt
Due: mr_image_delete

Add new ci jobs for ci image.
  .gitlab-ci.yml
Due: mr_image_delete

Add final versions.
  ci_python_image/requirements.txt
Due: mr_image_delete

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: mr_image_delete

Use smaller base docker image.
  ci_python_image/Dockerfile
Due: mr_image_delete

Add jupyter black dependencies.
  ci_python_image/requirements.txt
Due: mr_image_delete

Add git install
  ci_python_image/Dockerfile
Due: mr_image_delete

Add pytest
  ci_python_image/requirements.txt
Due: mr_image_delete

Update requirements.txt - gitlabdata==0.3.13 added
  ci_python_image/requirements.txt
Due: mr_image_delete

Check PyYAML=5.4.1
  ci_python_image/requirements.txt
Due: mr_image_delete

Update requirements.txt
  ci_python_image/requirements.txt
Due: mr_image_delete

Update versions.
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

PostHog library added
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Add montecarlo data lib.
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Add MC dbt integration
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Add data-science-image Docker image
  analyst_image/Dockerfile
  analyst_image/requirements.txt
Due: mr_image_delete

Patch analyst image add papermill library
  analyst_image/requirements.txt
Due: mr_image_delete

Update requirements.txt - remove posthog
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Add montecarlodata to the 1.1 dbt image and upgrade requests
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Upgrade requests version to work with montecarlodata
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Fix dbt-core version to 1.1.0
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete
