Repository anilsb06/data-infrastructre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr_data_build, mr_airflow_build, mr_dbt_build, mr_image_delete

mr_data_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_airflow_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_dbt_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_image_delete:
  stage: delete
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker images | grep $CI_COMMIT_REF_NAME | awk '{print $1 ":" $2}' | xargs docker rmi
  when: manual
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  ...

Update data_image/requirements.txt
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Test latest changes
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Minor commit to have something to merge
  .gitlab-ci.yml
Due: mr_image_delete

Revert branch reference
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Update requirements.txt
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

switch back
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

add meltano image
  .gitlab-ci.yml
  meltano_image/Dockerfile
  meltano_image/Makefile
  meltano_image/requirements.txt
Due: mr_image_delete

fix naming
  .gitlab-ci.yml
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

downgrade python
  meltano_image/Dockerfile
Due: mr_image_delete

refactor
  .gitlab-ci.yml
  dbt_image/requirements.txt
  meltano_image/Dockerfile
  meltano_image/Makefile
  meltano_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Adds new command that can be run in the docker container of `dbt_refresh`
  dbt_image/Dockerfile
Due: mr_dbt_build, mr_image_delete

copy paste
  dbt_image/Dockerfile
Due: mr_dbt_build, mr_image_delete

Missing quote
  dbt_image/Dockerfile
Due: mr_dbt_build, mr_image_delete

Remove space
  dbt_image/Dockerfile
Due: mr_dbt_build, mr_image_delete

update libraries to support prometheus-exporter
  airflow_image/Dockerfile
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

airflow-prometheus-exporter
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

specify version of prometheus exporter to use
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

Pin gitlab-data-utils to specific tag
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

add usage of forked prometheus exporter
  airflow_image/Dockerfile
  airflow_image/prometheus_config.yml
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

add bamboohr configurations
  airflow_image/prometheus_config.yml
Due: mr_airflow_build, mr_image_delete

anchor airflow-prometheus-exporter requirement at version1.0.7b
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

Update k8s version in dockerfile
  airflow_image/Dockerfile
Due: mr_airflow_build, mr_image_delete

upgrade airflow prometheus exporter
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

add nginx and update ingress
  airflow_image/manifests/ingress.yml
  airflow_image/manifests/nginx_values.yaml
Due: mr_image_delete

upgrade persistent volume
  airflow_image/manifests/persistent_volume.yaml
Due: mr_image_delete

anchor gitlab-data-utils to v0.0.2
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

upgrade gitlab-data-utils for data-image
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

deny all
  airflow_image/airflow.cfg
Due: mr_airflow_build, mr_image_delete

Add poorly and orca as dependencies to the data image
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Apply suggestion to data_image/requirements.txt
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

add slack client as data image req
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

add gitlabdata to DBT image
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

upgrade gitlab-data-utils for dbt_image dependency
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

add pandas to DBT image requirements
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

pin requests at specific version to meet all requirements
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

pin urllib3 at 1.24 so dbt doesn't self-destruct
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Path conditions:
  mr_data_build: (any of: data_image/*) and (not (any of: *.md))
  mr_airflow_build: (any of: airflow_image/*) and (not (any of: *.md))
  mr_dbt_build: (any of: dbt_image/*) and (not (any of: *.md))
  mr_image_delete: not (any of: *.md)
