Repository anilsb06/data-infrastructre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr_data_build, mr_airflow_build, mr_dbt_build, mr_image_delete

.gitlab-ci.yml:

stages:
  - build
  - test
  - delete

### Global Vars
variables:
  DOCKER_DRIVE: overlay2



# ======
# Templates
# ======

.docker_base: &docker_base
  stage: build
  image: docker:latest
  services:
    - docker:dind

.prod_docker_publish: &prod_docker_publish
  <<: *docker_base
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest

.mr_docker_publish: &mr_docker_publish
  <<: *docker_base
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME

.mr_delete: &mr_delete
  stage: delete
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker images | grep $CI_COMMIT_REF_NAME | awk '{print $1 ":" $2}' | xargs docker rmi
  except:
    changes:
      - "*.md"
  only:
    refs:
      - merge_requests
  when: manual

testing:
  stage: test
  image: docker:latest
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker images
  only:
    refs:
      - merge_requests
  when: manual


# ======
# Data Image
# ======
mr_data_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image
  only:
    refs:
      - merge_requests
    changes:
      - data_image/*
  except:
    changes:
      - "*.md"

prod_data_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image
  only:
    refs:
      - master
      - triggers
      - web


# ======
# Airflow Image
# ======
mr_airflow_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image
  only:
    refs:
      - merge_requests
    changes:
      - airflow_image/*
  except:
    changes:
      - "*.md"

prod_airflow_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image
  only:
    refs:
      - master
  except:
    refs:
      - triggers
      - web


# ======
# dbt Image
# ======
mr_dbt_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image
  only:
    refs:
      - merge_requests
    changes:
      - dbt_image/*
  except:
    changes:
      - "*.md"

prod_dbt_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image
  only:
    refs:
      - master
  except:
    refs:
      - triggers
      - web

# ======
# Delete Images
# ======
mr_image_delete:
  <<: *mr_delete
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  variables:
    GIT_STRATEGY: none

Update dbt_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

use pypi to install gitlab-data-utils
  airflow_image/requirements.txt
  data_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_data_build, mr_airflow_build, mr_dbt_build, mr_image_delete

activate service account on scheduler container on start
  airflow_image/manifests/deployment.yaml
Due: mr_image_delete

upgrade prometheus version
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

add email validator to requirements for airflow image
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

upgrade gitlab-data-utils
  airflow_image/requirements.txt
  data_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_data_build, mr_airflow_build, mr_dbt_build, mr_image_delete

Added in a few extra requirements which are needed for the PMG data download, added in a bunch of version numbers to match up with what is stated in the handbook.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Update after testing
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Added in a few more missing versions and corrected the compatibility
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Real pip freeze output
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Reducing number of requirements now that I've confirmed which are correct.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

PyAsn version
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Salesforce package versions
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Added grpcio see https://github.com/googleapis/google-cloud-python/issues/6259
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Moved six back down a version, want to confirm if this is still an issue.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Trying previous bigquery version, see: https://github.com/googleapis/google-cloud-python/issues/9965
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

-1 more version
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Versions back up, seems we have a need for this migration.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Removed now unnecessary library
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

patch version bump
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Latest release candidate
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Add prod tag publish
  .gitlab-ci.yml
Due: mr_image_delete

fix tag
  .gitlab-ci.yml
Due: mr_image_delete

Fix tags again?
  .gitlab-ci.yml
Due: mr_image_delete

Fix Tags: return of the tag
  .gitlab-ci.yml
Due: mr_image_delete

Fix with quotes
  .gitlab-ci.yml
Due: mr_image_delete

push before ref
  .gitlab-ci.yml
Due: mr_image_delete

source tag
  .gitlab-ci.yml
Due: mr_image_delete

add sha ref
  .gitlab-ci.yml
Due: mr_image_delete

add tag only
  .gitlab-ci.yml
Due: mr_image_delete

Only build on tag
  .gitlab-ci.yml
Due: mr_image_delete

upgrade airflow-prometheus-exporter in airflow image
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

Upgrade and alphabetize
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Capitalize
  dbt_image/Dockerfile
Due: mr_dbt_build, mr_image_delete

airflow v1.10.12
  airflow_image/Dockerfile
Due: mr_airflow_build, mr_image_delete

bump python and k8s version
  airflow_image/Dockerfile
Due: mr_airflow_build, mr_image_delete

Update requirements
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

Pin to v0.0.9
  airflow_image/manifests/deployment.yaml
Due: mr_image_delete

Upgrade git to latest in data-image
  data_image/Dockerfile
Due: mr_data_build, mr_image_delete
