Repository anilsb06/data-infrastructre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr_data_build, prod_data_publish, trigger_prod_data_publish, mr_airflow_build, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

mr_data_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  tags: null
  variables:
  ...

prod_data_publish:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
  variables:
    IMAGE_NAME: data-image
  before_script:
  ...

trigger_prod_data_publish:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
  variables:
    IMAGE_NAME: data-image
  before_script:
  ...

mr_airflow_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  tags: null
  variables:
  ...

prod_airflow_publish:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
  variables:
    IMAGE_NAME: airflow-image
  before_script:
  ...

mr_dbt_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  tags: null
  variables:
  ...

prod_dbt_publish:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
  variables:
    IMAGE_NAME: dbt-image
  before_script:
  ...

update the data_image prod publish job to be triggereable inother ways
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Resolve "remove the except clause that is blocking CI jobs"
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

update the other prod jobs so they can't be triggered
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Resolve "update the clousql instance in the airflow deployment file"
  airflow_image/manifests/deployment.yaml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Update instructions for updating runner version
  README.md
Due: none

Resolve "Add some QOL things to the dbt image"
  dbt_image/Dockerfile
  dbt_image/dbt_functions.sh
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

Update dbt_image/requirements.txt
  dbt_image/requirements.txt
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

update what db airflow points to
  airflow_image/manifests/deployment.yaml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Upgrade dbt
  dbt_image/requirements.txt
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

update concurrency/parallelism to 12 and see what happens
  airflow_image/airflow.cfg
Due: prod_data_publish, trigger_prod_data_publish, mr_airflow_build, prod_airflow_publish, prod_dbt_publish

Resolve "Make airflow web UI more accessible"
  airflow_image/manifests/deployment.yaml
  airflow_image/manifests/ingress.yml
  airflow_image/manifests/services.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Update packages
  data_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

fix ci
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

switch to MR
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Update with auto-delete
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Rename
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Changes to trigger pipeline
  airflow_image/requirements.txt
  data_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, mr_airflow_build, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

reformat
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

simplify
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

fixes for automated deletion
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Changes to remove images
  .gitlab-ci.yml
  airflow_image/requirements.txt
  data_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, mr_airflow_build, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

Rename job
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Test job
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Update with reg
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

add services
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

switch to example
  .gitlab-ci.yml
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

hard code images
  .gitlab-ci.yml
  dbt_image/requirements.txt
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

add auth
  .gitlab-ci.yml
  dbt_image/requirements.txt
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

Update airflow_image/requirements.txt, data_image/requirements.txt, dbt_image/requirements.txt files
  airflow_image/requirements.txt
  data_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, mr_airflow_build, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

Move documentation to handbook
  README.md
Due: none

Pin urllib3 to <1.25
  data_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

Add Meltano to data image
  data_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Update requirements.txt
  data_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Set to 15 and remove additional requirements
  dbt_image/requirements.txt
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

Update to Python 3.8
  dbt_image/Dockerfile
Due: prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, mr_dbt_build, prod_dbt_publish

Upgrade pandas
  data_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Add back secrets template
  airflow_image/secrets.template.yaml
Due: prod_data_publish, trigger_prod_data_publish, mr_airflow_build, prod_airflow_publish, prod_dbt_publish

Update sql and tz dependencies
  data_image/requirements.txt
Due: mr_data_build, prod_data_publish, trigger_prod_data_publish, prod_airflow_publish, prod_dbt_publish

Path conditions:
  mr_data_build: (any of: data_image/*) and (not (any of: *.md))
  prod_data_publish: not (any of: *.md)
  trigger_prod_data_publish: not (any of: *.md)
  mr_airflow_build: (any of: airflow_image/*) and (not (any of: *.md))
  prod_airflow_publish: not (any of: *.md)
  mr_dbt_build: (any of: dbt_image/*) and (not (any of: *.md))
  prod_dbt_publish: not (any of: *.md)
