Repository anilsb06/data-infrastructre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr_data_build, mr_airflow_build, mr_dbt_build, mr_image_delete

mr_data_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_airflow_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_dbt_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_image_delete:
  stage: delete
  image: docker:latest
  services:
  - docker:dind
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  variables:
    GIT_STRATEGY: none
  before_script:
  - wget -O /usr/bin/reg https://github.com/genuinetools/reg/releases/download/v0.13.0/reg-linux-amd64
  - chmod +x /usr/bin/reg
  ...

Remove plotly
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Pin dependencies
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Fix ref
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Remove azure
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Update requests
  data_image/Dockerfile
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Don't know how that was deleted...
  data_image/Dockerfile
Due: mr_data_build, mr_image_delete

Remove extra requirements
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Add update
  data_image/Dockerfile
Due: mr_data_build, mr_image_delete

Update to 0.2.1
  airflow_image/requirements.txt
  data_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_data_build, mr_airflow_build, mr_dbt_build, mr_image_delete

Add yq
  data_image/Dockerfile
Due: mr_data_build, mr_image_delete

Add SQL parsing libraries
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

lock sqlalchemy version to 1.3 on airflow image
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

Added google-api-python-client==2.2.0
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Corrected version
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Upgrade gitlabdata to 0.3.0 in data_image
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Update dbt_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Revert "Merge branch 'jjstark-master-patch-09411' into 'master'"
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

untested first draft at using terraform for Airflow cluster
  .gitignore
  airflow_infra/airflow.tf
Due: mr_image_delete

upgrade dbt 0.19.1
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

bring airflow tf gke definition more in line with current cluster
  airflow_infra/GKE/airflow_gke.tf
Due: mr_image_delete

change prod environment name to full production for airflow tf
  airflow_infra/GKE/airflow_gke.tf
Due: mr_image_delete

add way to pass in service account email for provisioning
  airflow_infra/GKE/airflow_gke.tf
  airflow_infra/GKE/airflow_gke_production.tfvars
Due: mr_image_delete

add tfvars for staging--more tf testing
  .gitignore
  airflow_infra/GKE/airflow_gke.tf
  airflow_infra/GKE/airflow_gke_production.tfvars
  airflow_infra/GKE/airflow_gke_staging.tfvars
Due: mr_image_delete

add basic kubernetes setup via terraform for airflow
  airflow_infra/GKE/airflow_gcp_gke.tf
  airflow_infra/kubernetes/airflow_kubernetes.tf
Due: mr_image_delete

add environment variable to kubernetes tf template
  airflow_infra/kubernetes/airflow_kubernetes.tf
Due: mr_image_delete

solidify the gke creation of airflow staging environment
  .gitignore
  airflow_infra/GKE/airflow_gcp_gke.tf
Due: mr_image_delete

remove untested k8s file from here
  airflow_infra/kubernetes/airflow_kubernetes.tf
Due: mr_image_delete

add first draft of staging manifests for airflow
  airflow_image/staging_manifests/deployment.yaml
  airflow_image/staging_manifests/ingress.yml
  airflow_image/staging_manifests/persistent_volume.yaml
  airflow_image/staging_manifests/services.yml
Due: mr_image_delete

switch staging manifest over to use new staging database
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

remove ingress from staging manifests
  airflow_image/staging_manifests/ingress.yml
Due: mr_image_delete

Added new data new-data-science-image
  analyst_image/Dockerfile
  analyst_image/Makefile
  analyst_image/README.md
  analyst_image/requirements.txt
Due: mr_image_delete

Updated requirements.txt, alphabetise.
  analyst_image/requirements.txt
Due: mr_image_delete

Updated requirements.txt, alphabetise.
  analyst_image/Dockerfile
  analyst_image/requirements.txt
Due: mr_image_delete

Corrected tag.
  analyst_image/Makefile
Due: mr_image_delete

Add new image to CI.
  .gitlab-ci.yml
Due: mr_image_delete

Corrected Dockerfile and requirements.txt
  analyst_image/Dockerfile
  analyst_image/requirements.txt
Due: mr_image_delete

Removed old requirements, changed image, added jupyter extension
  analyst_image/Dockerfile
  analyst_image/requirements.txt
Due: mr_image_delete

Cleanup
  analyst_image/Dockerfile
Due: mr_image_delete

Removed readme, will be added to handbook.
  analyst_image/README.md
Due: mr_image_delete

Path conditions:
  mr_data_build: (any of: data_image/*) and (not (any of: *.md))
  mr_airflow_build: (any of: airflow_image/*) and (not (any of: *.md))
  mr_dbt_build: (any of: dbt_image/*) and (not (any of: *.md))
  mr_image_delete: not (any of: *.md)
