Repository anilsb06/data-infrastructre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr_data_build, mr_airflow_build, mr_dbt_build, mr_image_delete

.gitlab-ci.yml:

stages:
  - build
  - test
  - delete

### Global Vars
variables:
  DOCKER_DRIVE: overlay2


# ======
# Templates
# ======

.docker_base: &docker_base
  stage: build
  image: docker:latest
  services:
    - docker:dind

.prod_docker_publish: &prod_docker_publish
  <<: *docker_base
  only:
    refs:
      - tags@gitlab-data/data-image
    variables:
      - $CI_COMMIT_TAG =~ /^v*/
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
    - docker tag $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
    - docker tag $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_TAG

.mr_docker_publish: &mr_docker_publish
  <<: *docker_base
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME


# ======
# Data Image
# ======

mr_data_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image
  only:
    refs:
      - merge_requests
    changes:
      - data_image/*
  except:
    changes:
      - "*.md"

prod_data_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image


# ======
# Airflow Image
# ======

mr_airflow_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image
  only:
    refs:
      - merge_requests
    changes:
      - airflow_image/*
  except:
    changes:
      - "*.md"

prod_airflow_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image


# ======
# dbt Image
# ======

mr_dbt_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image
  only:
    refs:
      - merge_requests
    changes:
      - dbt_image/*
  except:
    changes:
      - "*.md"

prod_dbt_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image


# ======
# Delete Images
# ======

mr_image_delete:
  stage: delete
  image: docker:latest
  services:
    - docker:dind
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  variables:
    GIT_STRATEGY: none
  before_script:
    - wget -O /usr/bin/reg https://github.com/genuinetools/reg/releases/download/v0.13.0/reg-linux-amd64
    - chmod +x /usr/bin/reg
  script:
    - reg -r $CI_REGISTRY -u gitlab-ci-token -p $CI_BUILD_TOKEN rm $CI_REGISTRY_IMAGE/airflow_image:$CI_COMMIT_REF_NAME || true
    - reg -r $CI_REGISTRY -u gitlab-ci-token -p $CI_BUILD_TOKEN rm $CI_REGISTRY_IMAGE/data_image:$CI_COMMIT_REF_NAME || true
    - reg -r $CI_REGISTRY -u gitlab-ci-token -p $CI_BUILD_TOKEN rm $CI_REGISTRY_IMAGE/dbt_image:$CI_COMMIT_REF_NAME || true
  except:
    changes:
      - "*.md"
  only:
    refs:
      - merge_requests
  when: manual

modified the node count for test
  airflow_infra/GKE/airflow_gcp_gke.tf
  airflow_infra/GKE/airflow_gke_production.tfvars
  airflow_infra/GKE/airflow_gke_staging.tfvars
Due: mr_image_delete

modified the ingress file
  airflow_image/manifests/ingress.yaml
Due: mr_image_delete

Apply 1 suggestion(s) to 1 file(s)
  airflow_image/airflow.cfg
Due: mr_airflow_build, mr_image_delete

Apply 1 suggestion(s) to 1 file(s)
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

modified min and max node count
  airflow_infra/GKE/airflow_gcp_gke.tf
Due: mr_image_delete

Update requirements file.
  analyst_image/requirements.txt
Due: mr_image_delete

Added yaml file for the namespace and secret creation
  airflow_image/manifests/kube_secret_default.yaml
  airflow_image/manifests/kube_secret_testing.yaml
  airflow_image/manifests/names_space_testing.yaml
  airflow_image/manifests/persistent_volume.yaml
  airflow_image/staging_manifests/deployment.yaml
  airflow_image/staging_manifests/kube_secret_default.yaml
  airflow_image/staging_manifests/kube_secret_testing.yaml
  airflow_image/staging_manifests/name_space_staging.yaml
  airflow_image/staging_manifests/names_space_testing.yaml
  airflow_image/staging_manifests/persistent_volume.yaml
Due: mr_image_delete

committed staging deployment and other file
  airflow_image/staging_manifests/deployment.yaml
  airflow_image/staging_manifests/ingress.yaml
  airflow_image/staging_manifests/ingress.yml
  airflow_image/staging_manifests/services.yml
Due: mr_image_delete

Update gitlabdata version
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Update version again.
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Apply 1 suggestion(s) to 1 file(s)
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Bump gitlabdata version
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Test newer version of airflow for upgrade.
  airflow_image/Dockerfile
Due: mr_airflow_build, mr_image_delete

Add missing import.
  airflow_image/requirements.txt
Due: mr_airflow_build, mr_image_delete

Config corrections after testing using latest image.
  airflow_image/airflow.cfg
Due: mr_airflow_build, mr_image_delete

Correct deployment file.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Testing configs for latest deployment
  airflow_image/staging_manifests/ingress.yaml
  airflow_image/staging_manifests/services.yml
Due: mr_image_delete

Correct staging DB.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Correct deployment image,
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Add init db step.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Correct commands.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Match spacing.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Try different type of command.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Remove init db step
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Update dbt image with SQLFluff for use in https://gitlab.com/gitlab-data/analytics/-/merge_requests/5885
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Add SQL fluff configs.
  dbt_image/.sqlfluff-ci
  dbt_image/.sqlfluffignore
Due: mr_dbt_build, mr_image_delete

Added mount statements.
  dbt_image/Dockerfile
Due: mr_dbt_build, mr_image_delete

Moved back to default namespace.
  airflow_image/staging_manifests/deployment.yaml
  airflow_image/staging_manifests/ingress.yaml
  airflow_image/staging_manifests/kube_secret_default.yaml
  airflow_image/staging_manifests/persistent_volume.yaml
  airflow_image/staging_manifests/services.yml
Due: mr_image_delete

Apply 1 suggestion(s) to 1 file(s)
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Add gitlab ds library to requirements.txt
  analyst_image/requirements.txt
Due: mr_image_delete

Prep deployments for final upgrade.
  airflow_image/manifests/deployment.yaml
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Correct final db name
  airflow_image/manifests/deployment.yaml
Due: mr_image_delete

Bump gitlabdata util library version.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Change version, database path.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete

Correct analytics branch.
  airflow_image/staging_manifests/deployment.yaml
Due: mr_image_delete
