Repository anilsb06/data-infrastructre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr_data_build, mr_airflow_build, mr_dbt_build, mr_analyst_build, mr_ci_python_build, mr_image_delete

mr_data_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_airflow_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_dbt_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_analyst_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_ci_python_build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
  - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  environment:
  ...

mr_image_delete:
  stage: delete
  image: docker:latest
  services:
  - docker:dind
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  variables:
    GIT_STRATEGY: none
  before_script:
  - wget -O /usr/bin/reg https://github.com/genuinetools/reg/releases/download/v0.13.0/reg-linux-amd64
  - chmod +x /usr/bin/reg
  ...

Upgrade gitlabdata library version for the data-analyst image
  analyst_image/requirements.txt
Due: mr_analyst_build, mr_image_delete

Update gitlabdata version to 0.3.15
  analyst_image/requirements.txt
Due: mr_analyst_build, mr_image_delete

Configure TLS for Airflow webserver
  airflow_image/manifests/deployment_1_15.yaml
  airflow_image/manifests/deployment_2_22.yaml
Due: mr_image_delete

Update data & dbt docker images.
  data_image/Dockerfile
  dbt_image/Dockerfile
Due: mr_data_build, mr_dbt_build, mr_image_delete

Remove problem python library.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Switch Airflow webserver probes to HTTPS
  airflow_image/manifests/deployment_1_15.yaml
  airflow_image/manifests/deployment_2_22.yaml
Due: mr_image_delete

Change Airflow service port to 443
  airflow_image/manifests/services.yml
Due: mr_image_delete

Add fire.
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Update montecarlodata to the latest version.
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

added latest service.yml for url redirection
  airflow_image/manifests/services.yml
Due: mr_image_delete

Add new library for resolving dbt dependencies.
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Apply 1 suggestion(s) to 1 file(s)
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Update dbt_mage/requirements.txt to update the montecarlo version
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Add memory to the webserver
  airflow_image/manifests/deployment_1_15.yaml
Due: mr_image_delete

Modify timeout to 60 seconds, to mitigate frequent pod restarts due to the liveness probe timeout
  airflow_image/manifests/deployment_1_15.yaml
Due: mr_image_delete

Later version with better version of snowflake stage copy remove.
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Add log guru.
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Update to latest gitlabdata package.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

add pytz from data-image
  ci_python_image/requirements.txt
Due: mr_ci_python_build, mr_image_delete

added types-pytz
  ci_python_image/requirements.txt
Due: mr_ci_python_build, mr_image_delete

Fix problem library.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Add unzip
  dbt_image/Dockerfile
Due: mr_dbt_build, mr_image_delete

Add artifact downloader
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Add dbt profiles file to the analyst image
  analyst_image/Dockerfile
  analyst_image/profiles.yml
Due: mr_analyst_build, mr_image_delete

add responses==0.22.0 library
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Update requirements.txt
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Temporary commit adding two new profiles, to be removed
  analyst_image/profiles.yml
Due: mr_analyst_build, mr_image_delete

Undo adding profile, upgrade cloudpickle for the analyst image
  analyst_image/Dockerfile
  analyst_image/profiles.yml
  analyst_image/requirements.txt
Due: mr_analyst_build, mr_image_delete

Downgrade cloudpickle to version 2.1.0!
  analyst_image/requirements.txt
Due: mr_analyst_build, mr_image_delete

Update dbt_image/requirements.txt
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Added googleapis-common-protos==1.56.2 as have an issue when response lib is isntalled.
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

sqlfluff to 1.4.5
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Update file requirements.txt
  dbt_image/requirements.txt
Due: mr_dbt_build, mr_image_delete

Update the analyst image
  analyst_image/requirements.txt
Due: mr_analyst_build, mr_image_delete

Add pygsheets to the data image
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Fix pygsheets version
  data_image/requirements.txt
Due: mr_data_build, mr_image_delete

Path conditions:
  mr_data_build: (any of: data_image/*) and (not (any of: *.md))
  mr_airflow_build: (any of: airflow_image/*) and (not (any of: *.md))
  mr_dbt_build: (any of: dbt_image/*) and (not (any of: *.md))
  mr_analyst_build: (any of: analyst_image/*) and (not (any of: *.md))
  mr_ci_python_build: (any of: ci_python_image/*) and (not (any of: *.md))
  mr_image_delete: not (any of: *.md)
